<div id="<%= dom_id lemma %>">
  <p>
    <strong>Name:</strong>
    <%= lemma.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= lemma.type %>
  </p>

  <p>
    <strong>Audio:</strong>
    <%= lemma.audio %>
  </p>

  <p>
    <strong>Word:</strong>
    <%= lemma.word_id %>
  </p>

</div>
